@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face {
    font-family: 'miama';
    src: url('./miama/Miama.ttf');
}
*{
    margin: 0;
    list-style: none;
    text-decoration: none;
}
/* common css */
.df{
    display: flex;
}
.background_color{
background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(0, 0, 0, 0.82) 100%);
}
.bgblack{
    margin: 0;
    padding: 0;
    background-color: black;
}
.grey{
    background: rgb(34, 34, 34);
}
/* common css */




/* nav part */
.navbar{
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10rem;
}
.navbar > i{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 2.25rem;
    font-weight: 800;
}
.navbar ul li a{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    
}
.r_mobile{
    display: none;
}
.navbar ul li{
    padding: 8px 20px;
    border-radius: 46px;
}
.navbar > ul > li:hover {
    background-color: rgb(230, 83, 60);
}
.navbar > ul{
    padding: 0;
    gap: 20px;
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.205);
}


/* bannerpart */
.banner{
    justify-content: space-between;
    padding: 2rem 10rem;
}
.bnrsection{
    background: linear-gradient(0.00deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.82) 100%);
}
.banner_text{
    padding-right: 40%;
}
.banner_text > h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 4.87rem;
    font-weight: 900;
}
.banner_text > h1 > div >span {
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: miama;
    font-size: 8.75rem;
    font-weight: 400;
}
.shape{
    display: inline-flex;
    width: 200px;
    height: 55px;
    align-items: center;
}
.banner_text {
    justify-content: space-between;
}
.banner_text > p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2.5rem;
    margin-bottom: 1.7rem;
}
.banner_two_button > button{
    padding: 1rem 2.5rem;
    margin: 0 4px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 42px;
    border: 1px solid white;
    background-color: transparent;
}
.banner_two_button > button:hover{
    background-color: rgb(230, 83, 60);
    border: 1px solid rgb(230, 83, 60);
}
.banner_img > img{
    width: auto;
    position: relative;
    
}
.overflow_text1{
    margin-left: 215px;
    margin-top: 118px;
    flex-direction: column;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}
.overflow_text1 > h3 {
    color: rgb(255, 255, 255);
    margin: 10px 20px 0 20px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
}
.overflow_text1 > p{
    margin: 0px 20px 10px 20px;
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
}
.overflow_text2{
    margin-left: -120px;
    margin-top: 420px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}
.circle i{
    margin-left: 2px;
    color: antiquewhite;
}
.o_f_text{
    flex-direction: column;
    margin: 0 7px;
}
.o_f_text > h3{
    margin: 20px 0 10px -20px;
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
}
.o_f_text > p{
    margin: 0px 10px 20px -20px;
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}
/* habits */

.habits{
    text-align: center;
    padding: 2rem 10rem;
    padding-bottom: 5rem;
}
.habit_top{
    padding: 0 25%;
}
.habit_top > h3 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}
.habit_top > p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 50px;
}
.habit_work{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

.work1 > img{
    border-radius: 50%;
    width: 100%;
    border: 5px solid rgba(32, 32, 32, 0.596);
}
.work1 > h3{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
margin-top: 25px;
margin-bottom: 10px;
}
.work1 > p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
}

/* extra mile */
.extramile{
    margin: 0rem 10rem;
    padding: 2rem;
    background: rgb(34, 34, 34);
    border-radius: 18px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 600px;
}
.extramile > img{
    width: 100%;
    border-radius: 18px;
}

.extramile_txt > h3{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
}
.extramile_txt > p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
margin: 14px 0 34px 0;
}
.extramile_txt > button{
    padding: 1rem 2.5rem;
    margin: 0 4px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 42px;
    border: 1px solid white;
    background-color: transparent;
}
.extramile_txt > button:hover{
    background-color: rgb(230, 83, 60);
    border: 1px solid rgb(230, 83, 60);
}
/* training part */
.training{
    padding: 4rem 10rem;
    color: white;
}
.training_text{
    padding-right: 60%;
}
.training_text > h3{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
}
.training_text > p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
margin: 14px 0 50px 0;
}

.training_img{
    width: 100%;
    align-items: center;
}
.training_img img{
    width: 100%;
    height: 250px;
}
.training_img p {
    position: absolute;
    font-family: Inter;
    top: 210px;
    left: 25px;
}
.img2color > p, .img4color > p{
    top: 30px;
    left: 25px;
}
.img1{
    position: relative;
    width: 20%;
}
.img1color{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(6, 255, 210, 0.5);
}
.img2{
    position: relative;
    width: 50%;
}
.img2color{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.3);
}
.img3{
    position: relative;
    width: 30%;
}
.img3color{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.img4{
    position: relative;
    width: 45%;
}
.img4color{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.img5{
    position: relative;
    width: 20%;
}
.img5color{
    position: relative;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(66, 255, 0, 0.3);
}
.img6{
    position: relative;
    width: 35%;
}
.img6color{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 71, 255, 0.3);
}


/* bmi calcultor */
.bmi{
    text-align: left;
    padding: 1rem 10rem;
    
}
.bmitxt{
padding: 0 30% 3rem 30%;
}
.bmitxt > h3{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
}
.bmitxt > p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;

}


.bmicalculate{
    padding: 2rem 10rem;
    justify-content: space-between;
}
.tablechart > h3{
    margin: 50px 0;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 900;
}
table {

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
  }
  tr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
  }
  td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 0 20px;
    width: 120px;
    height: 45px;
    
    
  }
  tr:first-child{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 16px;
font-weight: 500;
  }
  #mini{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
  }

.bmicalculator{
    
    
}

.bmipadding > h3{
    margin-top: 50px;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 900;
}
.bmipadding > p{
    margin: 14px 0 34px 0;
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
}

.inputpars{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.Height{
    background: rgba(255, 255, 255, 0.1); 
    padding: 12px 20px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    border: none;
    font-weight: 400;
}
.clr{
    background: rgba(255, 255, 255, 0.1); 
    padding: 12px 20px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.3);
    font-family: Inter;
    font-size: 16px;
    border: none;
    font-weight: 400;
}
.factor{
    margin-top: 15px;
    margin-bottom: 34px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1); 
    padding: 12px 20px;
    border-radius: 8px;
    font-family: Inter;
    font-size: 16px;
    border: none;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
}

.calculatebtn > button{
    padding: 1rem 4rem;
    margin:  4px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 42px;
    border: 1px solid white;
    background-color: transparent;
}
.calculatebtn > button:hover{
    background-color: rgb(230, 83, 60);
    border: 1px solid rgb(230, 83, 60);
}



/* our team */
.ourteam{
    padding: 4rem 10rem;
}
.ourteamtxt{
    text-align: center;
    padding: 0 30%;
}
.ourteamtxt > h3{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
margin-bottom: 14px;
}
.ourteamtxt > p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
margin-bottom: 58px;
}
.ourteamimg{
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.teamimg1{
    border-radius: 18px;
    
}
.teamimg1 > img{
    width: 100%;
    border-radius: 18px;
    height: 350px;
}
.teamimgtxt{
    margin-top: -80px;
    margin-left: 20px;
    position: absolute;
}
.teamimgtxt h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 30px;
    font-weight: 900;
}
.teamimgtxt p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}


/* footer */
.fitnessfooter{
    padding: 4rem 10rem;
}
.footeritem{
    justify-content: space-between;
    margin-bottom: 40px;
}
.twotiem{
    gap: 400px;
}
.item1 > i{
    color: rgb(230, 83, 60);
font-family: Inter;
font-size: 70px;
font-weight: 800;

}
.item1 > p{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
}
.item2 h3{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 32px;
font-weight: 700;

}
#minimargin{
    margin-top: 40px;
}
.item2 p{
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 23px;
font-weight: 400;
}
.fitnessfooter > p{
    border-top: 1px solid rgba(255, 255, 255, 0.205);
    text-align: center;
    padding: 2rem 0 0 0;
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 20px;
font-weight: 400;
}




/* responsive for mobile */
@media screen and (max-width: 576px){
    .navbar{
        align-items: center;
        justify-content: space-between;
        padding: 2rem 1.5rem;
    }
    .navbar > ul{
        display: none;
    }
    .r_mobile{
        display: block;
    }
    .r_mobile i{
        color: aliceblue;}

        /* banner */


    .banner{
        flex-direction: column;
        padding: 2rem 2rem;
    }
    .banner_text{
        padding-right: 0%;
    }
    .banner_text > h1 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 2rem;
        font-weight: 900;
    }

    .shape {
        display: inline-flex;
        width: 110px;
        height: 15px;
        align-items: center;
    }
    .banner_text > h1 > div >span {
        position: absolute;
        color: rgb(255, 255, 255);
        font-family: miama;
        font-size: 4.75rem;
        font-weight: 400;
    }
    .banner_two_button{
        display: flex;
    }
    .banner_two_button > button {
        padding: 1rem 1rem;
        margin: 0 4px;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 1.125rem;
        font-weight: 600;
        border-radius: 42px;
        border: 1px solid white;
        background-color: transparent;
    }
    .banner_img{
        margin-top: 30px;
        justify-content:center ;
    }
    .overflow_text1 {
        margin-left: 215px;
        margin-top: 50px;
        flex-direction: column;
        position: absolute;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.1);
    }
    .overflow_text2 {
        margin-left: -210px;
        margin-top: 235px;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        position: absolute;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.1);
    }
    .o_f_text {
        flex-direction: column;
        margin: 0 0px;
    }
    .circle{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(230, 83, 60);
    }
    .circle i{
        margin-left: 2px;
        color: antiquewhite;
    }

    /* habit */
    .habits {
        text-align: center;
        padding: 2rem 2rem;
        padding-bottom: 5rem;
    }
    .habit_top > h3 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 32px;
        font-weight: 900;
        margin-bottom: 14px;
    }
    .habit_top {
        padding: 0;
    }
    .habit_work {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
    }
    .work1 > img {
        border-radius: 50%;
        width: 70%;
        border: 5px solid rgba(32, 32, 32, 0.596);
    }
    /* extra mile */
    .extramile {
        margin: 0rem 1rem;
        padding: 1rem;
        background: rgb(34, 34, 34);
        border-radius: 18px;
        width: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
    /* training */
    .training {
        padding: 4rem 1rem;
        color: white;
    }
    .training_text {
        padding-right: 0;
    }
    .img1 {
        position: relative;
        width: 50%;
    }
    .img3 {
        position: relative;
        width: 30%;
        display: none;
    }
    .img6 {
        position: relative;
        width: 30%;
        display: none;
    }
    .img5 {
        position: relative;
        width: 55%;
    }
    .bmi {
        text-align: left;
        padding: 0rem 1rem 2rem;
    }

    .bmitxt {
        padding: 0;
    }
    .bmitxt > h3 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 32px;
        font-weight: 900;
        margin-bottom: 10px;
    }
    .bmicalculate {
        padding: 2rem 1rem;
        justify-content: space-between;
        flex-direction: column;
    }
    .Height {
        background: rgba(255, 255, 255, 0.1);
        padding: 12px 20px;
        border-radius: 8px;
        color: rgba(255, 255, 255, 0.6);
        font-family: Inter;
        font-size: 10px;
        border: none;
        font-weight: 400;
        width: auto;
    }
    .clr {
        background: rgba(255, 255, 255, 0.1);
        padding: 7px 18px;
        border-radius: 8px;
        color: rgba(255, 255, 255, 0.3);
        font-family: Inter;
        font-size: 10px;
        border: none;
        font-weight: 400;
    }
    .factor {
        margin-top: 15px;
        margin-bottom: 34px;
        width: 100%;
        background: rgba(255, 255, 255, 0.1);
        padding: 11px 20px;
        border-radius: 8px;
        font-family: Inter;
        font-size: 10px;
        border: none;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.3);
    }
    .ourteam {
        padding: 4rem 1rem;
    }
    .ourteamtxt {
        text-align: center;
        padding: 0;
    }    
    .ourteamimg {
        border-radius: 18px;
        background: rgba(255, 255, 255, 0.1);
        padding: 20px;
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .fitnessfooter {
        padding: 4rem 1rem;
    }
    .footeritem {
        justify-content: space-between;
        margin-bottom: 40px;
        flex-direction: column;
    }
    .twotiem {
        gap: 0;
        flex-direction: column;
        margin-top: 50px;
    }

}
@media screen and (max-width: 992px) and (min-width: 576px) {

    .navbar {
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0rem;
    }
    .banner_text {
        padding-right: 0%;
    }
    .banner_img {
        justify-content: center;
    }
    .banner {
        justify-content: space-between;
        padding: 2rem 3rem;
        flex-direction: column;
    }
    .overflow_text1 {
        margin-left: 220px;
        margin-top: 60px;
        flex-direction: column;
        position: absolute;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.1);
    }
    .overflow_text2 {
        margin-left: -210px;
        margin-top: 340px;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        position: absolute;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.1);
    }
    .habits {
        text-align: center;
        padding: 2rem 3rem;
        padding-bottom: 5rem;
    }
    .habit_top {
        padding: 10%;
    }
    .habit_work {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }
    .extramile {
        margin: 0rem 3rem;
        padding: 2rem;
        background: rgb(34, 34, 34);
        border-radius: 18px;
        width: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .extramile > img {
        width: 100%;
        height: 289px;
        border-radius: 18px;
    }
    
    .training {
        padding: 4rem 3rem;
        color: white;
    }
    .training_text {
        padding-right: 10%;
    }
    .bmi {
        text-align: left;
        padding: 1rem 3rem;
    }
    .bmitxt {
        padding: 0;
    }
    .bmitxt > h3 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 48px;
        font-weight: 900;
        margin: 20px 0;
    }.bmitxt > h3 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 48px;
        font-weight: 900;
        margin: 20px 0;
    }
    .bmicalculate {
        padding: 2rem 3rem;
        justify-content: space-between;
        flex-direction: column;
    }
    .ourteam {
        padding: 4rem 3rem;
    }
    .ourteamtxt {
        text-align: center;
        padding: 0 10%;
    }
    .teamimg1 > img {
        width: 100%;
        border-radius: 18px;
        height: 230px;
    }
    .teamimgtxt h3 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 20px;
        font-weight: 900;
    }
    .teamimgtxt p {
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 15px;
        font-weight: 400;
    }
    .fitnessfooter {
        padding: 4rem 3rem;
    }
    .footeritem {
        justify-content: space-between;
        margin-bottom: 40px;
        flex-direction: column;
    }
    .twotiem {
        gap: 40px;
    }
    .twotiem{
        justify-content: space-between;
        margin-top: 60px;
    }
}
@media screen and (min-width: 992px) {
    .navbar {
        align-items: center;
        justify-content: space-between;
        padding: 2rem 3rem;
    }
    .banner {
        justify-content: space-between;
        padding: 2rem 2rem;
    }
    .banner_text {
        padding-right: 10%;
    }
    .extramile {
        margin: 0rem 3rem;
        padding: 2rem;
        background: rgb(34, 34, 34);
        border-radius: 18px;
        width: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .extramile_txt {
        width: 85%;
    }
    .extramile_txt > p {
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        margin: 40px 0 50px 0;
    }
    .extramile > img {
        width: 60%;
        height: 100%;
        border-radius: 18px;
        margin-left: auto;.
    }
    .training_text {
        padding-right: 15%;
    }
    .training {
        padding: 4rem 3rem;
        color: white;
    }
    .bmitxt {
        padding: 0px 20% 3rem 20%;
    }
    .bmicalculate {
        padding: 2rem 3rem;
        justify-content: space-between;
        gap: 50px;
    }
    .habits {
        text-align: center;
        padding: 2rem 2rem;
        padding-bottom: 5rem;
    }
    .ourteamtxt {
        text-align: center;
        padding: 0 20%;
    }
    .ourteam {
        padding: 4rem 3rem;
    }
    .fitnessfooter {
        padding: 3rem 3rem;
    }
    .twotiem {
        gap: 200px;
    }
    .habit_top {
        padding: 0px 10%;
    }
}