@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face {
    font-family: 'miama';
    src: url('./miama/Miama.ttf');
}
*{
    margin: 0;
    list-style: none;
    text-decoration: none;
}
/* common css */
.df{
    display: flex;
}
.background_color{
background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(0, 0, 0, 0.82) 100%);
}
.bgblack{
    margin: 0;
    padding: 0;
    background-color: black;
}
/* common css */




/* nav part */
.navbar{
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10rem;
}
.navbar > i{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 2.25rem;
    font-weight: 800;
}
.navbar ul li a{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    
}
.navbar ul li{
    padding: 8px 20px;
    border-radius: 46px;
}
.navbar > ul > li:hover {
    background-color: rgb(230, 83, 60);
}
.navbar > ul{
    padding: 0;
    gap: 20px;
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.205);
}


/* bannerpart */
.banner{
    justify-content: space-between;
    padding: 2rem 10rem;
}
.bnrsection{
    margin: 0;
    padding: 0;
    background: linear-gradient(0.00deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.82) 100%);
}
.banner_text{
    padding-right: 27%;
}
.banner_text > h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 4.87rem;
    font-weight: 900;
}
.banner_text > h1 > div >span {
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: miama;
    font-size: 8.75rem;
    font-weight: 400;
}
.shape{
    display: inline-flex;
    width: 200px;
    height: 55px;
    align-items: center;
}
.banner_text {
    justify-content: space-between;
}
.banner_text > p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2.5rem;
    margin-bottom: 1.7rem;
}
.banner_two_button > button{
    padding: 1rem 2.5rem;
    margin: 0 4px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 42px;
    border: 1px solid white;
    background-color: transparent;
}
.banner_two_button > button:hover{
    background-color: rgb(230, 83, 60);
    border: none;
}
.banner_img{
    
}
.banner_img > img{
    width: auto;
    position: relative;
    
}
.overflow_text1{
    margin-left: 215px;
    margin-top: 118px;
    flex-direction: column;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}
.overflow_text1 > h3 {
    color: rgb(255, 255, 255);
    margin: 10px 20px 0 20px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
}
.overflow_text1 > p{
    margin: 0px 20px 10px 20px;
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
}
.overflow_text2{
    margin-left: -120px;
    margin-top: 420px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

.circle{
    margin-left: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}
.o_f_text{
    flex-direction: column;
    margin: 0 7px;
}
.o_f_text > h3{
    margin: 20px 0 10px -20px;
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
}
.o_f_text > p{
    margin: 0px 10px 20px -20px;
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}
/* habits */

.habits{
    text-align: center;
    color: aliceblue;
    padding: 2rem 10rem;
}
.habit_top{
    padding: 0 25%;
}
.habit_top > h3 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}
.habit_top > p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 50px;
}
.habit_work{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

.work1 > img{
    border-radius: 50%;
    width: 100%;
    border: 2px solid rgba(32, 32, 32, 0.596);
}
.work1 > h3{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
margin-top: 25px;
margin-bottom: 10px;
}
.work1 > p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
}